<form action="/api/user/signup" method="post">
	<div>
		<label>Username:</label>
		<input type="text" name="username" /><br />
	</div>
	<div>
		<label>Password:</label>
		<input type="password" name="password" />
	</div>
	<div>
		<label>Repeat password:</label>
		<input type="password" name="password-repeat" />
	</div>
	<div>
		<input type="submit" value="Submit" />
	</div>
</form>
